@use '../styles/variables' as *;
@use 'sass:map';

.shareholder-structure {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 4px 12px 0px #1723390f;
    box-sizing: border-box;

    h2 {
        font-weight: 600;
        font-size: map.get($font-sizes, xl);
        line-height: 30px;
        color: #172339;
        margin: 0;

        @media (max-width: 768px) {
            font-size: map.get($font-sizes, large);
        }
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: auto 610px;
        gap: 32px;
        align-items: start;

        @media (max-width: 1440px) {
            grid-template-columns: 54fr 46fr;
        }

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }

        @media (max-width: 768px) {
            margin: 0 auto;
            gap: 15px;
        }
    }

    hr {
        border: 1px solid $border-color;
        opacity: 1;
        border-width: 1px;
        margin: 0;
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }

    @media (max-width: 1024px) {
        text-align: center;
    }

    @media (max-width: 768px) {
        padding: 8.5px;
        text-align: start;
        gap: 14px;
    }
}
