@use '../styles/variables' as *;
@use 'sass:map';

.table-container {
    width: 100%;
    margin: 0 auto;

    .update-date {
        margin-top: 16px;
        color: #6c757d;
        font-weight: 400;
        padding: 0 16px;
        font-size: map.get($font-sizes, normal);
        line-height: 20px;

        @media (max-width: 768px) {
            margin-top: 12px;
        }
    }

    @media (max-width: 1024px) {
        max-width: 610px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.custom-table .ant-table-thead > tr > th {
    font-family: $font-family;
    background-color: #172339;
    color: #fff;
    height: 64px;
    text-align: left;
    padding-left: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    border-bottom: none;
}

.ant-table-tbody > tr > td {
    border-bottom: none !important;
    background-color: #1111120a;
    border-top: 1px solid #17233914;
    font-family: $font-family;
    font-size: map.get($font-sizes, normal);
    line-height: 22px;
    letter-spacing: 0.2px;
    height: 52px !important;
    padding: 13px 16px !important;
}

.ant-table-cell::before {
    display: none;
}

.ant-table-thead > tr > th:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ffffff14;
}

.ant-table-container {
    border-start-end-radius: 12px !important;
    border-start-start-radius: 12px !important;
    border-radius: 12px;
    overflow: hidden;
}

.first-col {
    font-weight: 600;
    border-right: 1px solid #17233914;
    width: 63%;

    @media (max-width: 1200px) {
        width: 75%;
    }

    @media (max-width: 768px) {
        width: 64%;
    }
}

.second-col {
    font-weight: 400;
    border-right: 1px solid #17233914;

    @media (max-width: 768px) {
        border-right: none;
    }
}
